HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.log

.idea
*.iws
*.iml
*.ipr
.mvn
mvnw*

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

.vscode/

bin/
gen/

.DS_Store

logs/
log
temp/